.custom-form
	.row:not(:first-of-type)
		margin-top 40px
	.row
		.row
			padding 5px 0 5px 0
		h1
			margin-top 0
			height 70px
			lh(70)
			&:before
				content '1'
				width 70px
				height 70px
				background gray1
				float left
				color wh
				text-align center
				margin-right 15px
				fnt(700,48)
				lh(70)
		&:nth-of-type(2)
			h1
				&:before
					content '2'
		&:nth-of-type(3)
			h1
				&:before
					content '3'
	.qs-sendto, .qs-message, .customize
		.btn
			width 110%
			margin-right 10px
	.col-md-9
		padding-left 30px
	.customize
		padding 0 !important
		.btn:first-child
			margin-top 0
		.col-md-12
			padding 15px
			.col-md-6
				padding 0
				width 53%
				margin 0 1.5%
			.col-md-3
				padding 0
				&:not(:first-child)
					width 19%
		.select
			margin-bottom 0
			.row
				margin 0
				padding 0
				.choice
					width 16%
					height 55px
					padding-bottom 16%
					margin 3px 2% 20px 2%
					overflow hidden
					float left
					cursor pointer
					img
						width 100%
						min-height 55px
		.bottom
			position relative
			float left
			width 100%
			height 30px
			margin -10px 0 0 0
			z-index 3
			a
				background gray1
				background-image none
				box-shadow none
				height 30px
				width 36%
				margin 0 10px
				text-shadow none
				opacity 1
				fnt2(400,17)
				lh(30)
				i
					padding 0 8px
				&.left
					text-align left
				&.right
					text-align right
					width 36%
			.col-md-6
				padding 0
			.btn
				padding 0
				margin 0 1.5%
				width 98%
				height 30px
				text-align center
				fnt2(400,17)
				lh(30)
				pointer-events none
		.selected
			width 98%
			margin 0 1.5%
			overflow hidden
			max-height 200px
		&.image
			.select
				.carousel-inner
					margin-top -3px
					opacity 0
			.selected
				cursor pointer
				opacity 0
				img
					width 100%
			.form-2
				.col-md-3:nth-child(2)
					.btn
						padding 0
						margin 0 1.5%
						width 98%
						height 40px
						text-align center
						fnt2(400,17)
						lh(40)
						margin-bottom 10px
						color gray1
						&:first-child
							height 55px
							width 150%
							margin 0 0 18px -50%
							color wh
							font-weight 600
							lh(55)
						&.select
							margin-top -30px
							height 30px
							lh(30)
							margin-bottom 15px
							pointer-events none
				.select-image
					margin-top 10px
					.row
						display none
						&.active
							display block
				.bttm
					height 55px
					.btn
						height 55px
						lh(55)
					.pagination
						width 96.4%
						margin 0 2.3%
					.pagination > li > a
						border-top 3px solid blue3
						lh(52)
					.mark5
						width 100%
						text-align center
						padding 0
			.btn
				&.selectpicker
					width 80%
					margin-left 2%
					option[disabled]
						display none
			.caret:not(.small)
				top 21px
				right 135px
		&.color
			.bottom
				margin-top 6px
				a.right
					text-align center
			.btn:first-child
				pointer-events none
			.choice
				&:first-child
					background darken(#222,15%)
				&:nth-child(2)
					background darken(#ccc,5%)
				&:nth-child(3)
					background darken(#f0f0f0,5%)
				&:nth-child(4)
					background darken(#fffece,15%)
				&:nth-child(5)
					background darken(#980000,15%)
			.selected
				padding-bottom 98%
				background darken(#ccc,5%)
			.select
				margin-top -3px
		&.quote
			.col-md-3
				padding-right 0
			.form-1
				input
					text-transform none
					margin-top 0
					&:focus ~ .search-i
						background wh url(../img/search2.svg) no-repeat
						background-position-x 25px
						border-left 3px solid blue1
			.froala-editor.f-basic
				margin-top 0
	.custom-send
		.col-md-3
			padding-right 0
.qs-message
	.form-1
			opacity 0
			pointer-events none
			width auto
			float right
	&.send
		.col-md-3:first-child
			.btn
				pointer-events all
				padding-left 15px
		input
			&:focus ~ .save
				color blue1
				border-left 3px solid blue1

#quote-content
	margin-top 10px
	border 3px solid blue3
	width 99.9%
	ul
		display none
		margin 0
		padding 0
		&.active
			display block
		li
			list-style none
			display block
			width 100%
			border-bottom 3px solid blue3
			padding 14px
			text-transform none
			color gray2
			fnt(700,16)
			lh(21)
			cursor pointer
			&:last-child
				border none
			span
				display block
				font-weight 900
				color gray1

.pagination > li > a
	fnt2(700,24)
	lh(55)
	color blue3
	border-radius 0 !important
	padding 0
	width 8.45%
	height 55px
	text-align center
	border 3px solid blue3
	border-top 0
	border-right 0
	transition color 0.25s ease
	cursor pointer
	&:hover
		background wh
		border-color blue3
		color lighten(blue1,40%)
	&.focus
		background blue3
		border-color blue3
		color wh
	&.p-left, &.p-right
		background wh
		color blue3
	&:hover
		background wh
		border-color blue3
		color lighten(blue1,40%)
.pagination
	width 100%
	margin 0
	li:last-child a
		border-right 3px solid blue3

.search-i
	width 100px
	height 49px
	display block
	position absolute
	top 3px
	right 18px
	cursor pointer
	background wh url(../img/search.svg) no-repeat
	background-position-x 25px
	border-left 3px solid blue3
	transition 0.25s all ease
	&:hover
		background wh url(../img/search2.svg) no-repeat
		background-position-x 25px
		border-left 3px solid blue3
.save
	width 150px
	height 49px
	display block
	position absolute
	top 12px
	right 18px
	cursor pointer
	fnt(600,26)
	lh(50)
	text-align center
	color blue2
	border-left 3px solid blue3
	transition 0.25s all ease
	&:hover
		color lighten(blue1,40%)
		border-left 3px solid blue3
.browse
	width 120px
	height 34px
	display block
	position absolute
	top 54px
	right 32px
	cursor pointer
	fnt2(400,18)
	lh(36)
	text-align center
	color blue5
	border-left 3px solid blue3
	transition 0.25s all ease
	&:hover
		color lighten(blue1,40%)
		border-left 3px solid blue3
.customize.image .form-2
	display none
.customize.quote .form-2
	display none
.row .qs-message.send
	.form-1
		margin-right 10px
	.form-2
		width auto
		float right
		.btn
			height 55px
			float left
			width auto
			text-align center
			padding 16px 32px
	.form-0
		opacity 0
		pointer-events none
	.selectpicker.small
		margin-right 0

#box-model.upload, #box-model.category
	.close-x
		top -3px
		right -3px
		opacity 0.4
		&:hover
			opacity 1
	.login-box
		padding 20px
		h4
			margin 0
			fnt(900,18)
			span
				fnt(700,16)
		input[type="text"]
			width 100%
			margin 9px auto
			height 40px
			border 3px solid blue3
			padding-left 12px
			fnt(400,22)
			color blue1
			text-transform none
			transition border-color 0.35s ease
			&:focus
				border-color blue1
				outline 0
				box-shadow none
				~ span
					border-color blue1
					color blue1
			&::placeholder
				color blue3
		.col-md-12
			margin 20px -15px 20px -15px
			.col-sm-4
				padding 15px 34px
				&:first-child
					padding-left 15px
				&:last-child
					padding-right 0
		.btn-success
			float right
			margin 10px 0 0 0
		.form
			.login-controls
				input[type='checkbox']
					display none
				label
					display block
					position relative
					width 20px
					height 20px
					border solid 2px blue2
					cursor pointer
					margin-bottom 10px
					&:after
						content ''
						display none
						width 16px
						height 16px
						border solid 2px wh
						background blue1
						margin-top -20px
					span
						margin-left 25px
#box-model.zoom
	.login-box
		width auto
	.form
		padding 20px
	img#image-zoom
		width 450px
		height 450px
#box-model.delete
	.login-box
		width 450px
	.form
		padding 20px
		h4
			margin 0
			fnt(900,18)
			span
				fnt(700,16)
		.btn
			float right
			margin 15px 5px
			padding 10px 40px
#box-model.upload
	.form
		h4
			margin-top 5px
			span
				display block
	.login-box .col-md-12
		margin-top 0
		margin-bottom 0
	.btn
		margin-top 0
.froala-editor
	&.f-inline
		border none
		&:before
			border-top-color blue3
			border-bottom-color blue3
	.froala-popup.froala-link-popup
		border 3px solid blue3
		margin-top -4px
		button
			padding 6px 20px
			&.fr-p-bttn
				text-transform uppercase
				fnt(700,14)
				transition 0.25s all ease
				&:first-of-type
					background gray1
					color wh
					&:hover
						background darken(gray1,18%)
				&:last-of-type
					background blue4
					color gray1
					&:hover
						background lighten(blue1,5%)
						color wh
		h4 i
			color blue4
			&:hover
				color blue1
		h4 span
			display none
		a.f-external-link
			display none
		.f-popup-line
			input[type=checkbox]
				display none
			label
				display none
			input[type=text]
				border 3px solid blue3
				padding 16px 14px
				fnt(700,15)
				text-transform uppercase
				color blue1
				&::placeholder
					color blue3
				&:focus
					border 3px solid blue1

/* // CUSTOM FORM IF CHECKED // */
#upload-image:checked ~
	.row
		.customize.image
			label.btn
				&:first-child
					background blue4
					color blue3
				&:nth-child(2)
					background gray1
					color wh
			.form-1
				display none
			.form-2
				display block
//
#enter-quote:checked ~
	.row
		.customize.quote
			label.btn
				&:first-child
					background blue4
					color blue3
				&:nth-child(2)
					background gray1
					color wh
			.form-1
				display none
			.form-2
				display block
//
#send-later:checked ~
	.row
		.qs-message.send
			label.btn
				&:first-child
					background blue4
					color blue3
				&:nth-child(2)
					background gray1
					color wh
				&:nth-child(3)
					background blue4
					color blue3
				.form-1
					opacity 1
					pointer-events all
#save-template:checked ~
	.row
		.qs-message.send
			label.btn
				&:first-child
					background gray1
					color wh
				&:nth-child(2)
					background blue4
					color blue3
				&:nth-child(3)
					background blue4
					color blue3
			.form-0
				opacity 1
				pointer-events all
			.form-1
				opacity 0
				pointer-events none
			.form-2
				.btn:first-child
					background gray4
					pointer-events none
				.btn:nth-child(2)
					background gray4
					pointer-events none

input#cat-1:checked ~
	.col-md-12 .col-sm-4:first-child label:first-child:after
		display block
input#cat-2:checked ~
	.col-md-12 .col-sm-4:first-child label:nth-child(2):after
		display block
input#cat-3:checked ~
	.col-md-12 .col-sm-4:first-child label:nth-child(3):after
		display block
input#cat-4:checked ~
	.col-md-12 .col-sm-4:first-child label:nth-child(4):after
		display block

input#cat-5:checked ~
	.col-md-12 .col-sm-4:nth-child(2) label:first-child:after
		display block
input#cat-6:checked ~
	.col-md-12 .col-sm-4:nth-child(2) label:nth-child(2):after
		display block
input#cat-7:checked ~
	.col-md-12 .col-sm-4:nth-child(2) label:nth-child(3):after
		display block
input#cat-8:checked ~
	.col-md-12 .col-sm-4:nth-child(2) label:nth-child(4):after
		display block

input#cat-9:checked ~
	.col-md-12 .col-sm-4:nth-child(3) label:first-child:after
		display block
input#cat-10:checked ~
	.col-md-12 .col-sm-4:nth-child(3) label:nth-child(2):after
		display block
input#cat-11:checked ~
	.col-md-12 .col-sm-4:nth-child(3) label:nth-child(3):after
		display block
input#cat-12:checked ~
	.col-md-12 .col-sm-4:nth-child(3) label:nth-child(4):after
		display block

input#cat-13:checked ~
	.col-md-12 .col-sm-4:first-child label:first-child:after
		display block
input#cat-14:checked ~
	.col-md-12 .col-sm-4:first-child label:nth-child(2):after
		display block
input#cat-15:checked ~
	.col-md-12 .col-sm-4:first-child label:nth-child(3):after
		display block
input#cat-16:checked ~
	.col-md-12 .col-sm-4:first-child label:nth-child(4):after
		display block

input#cat-17:checked ~
	.col-md-12 .col-sm-4:nth-child(2) label:first-child:after
		display block
input#cat-18:checked ~
	.col-md-12 .col-sm-4:nth-child(2) label:nth-child(2):after
		display block
input#cat-19:checked ~
	.col-md-12 .col-sm-4:nth-child(2) label:nth-child(3):after
		display block
input#cat-20:checked ~
	.col-md-12 .col-sm-4:nth-child(2) label:nth-child(4):after
		display block

input#cat-21:checked ~
	.col-md-12 .col-sm-4:nth-child(3) label:first-child:after
		display block
input#cat-22:checked ~
	.col-md-12 .col-sm-4:nth-child(3) label:nth-child(2):after
		display block
input#cat-23:checked ~
	.col-md-12 .col-sm-4:nth-child(3) label:nth-child(3):after
		display block
input#cat-24:checked ~
	.col-md-12 .col-sm-4:nth-child(3) label:nth-child(4):after
		display block
/*
input#cat-2:checked ~
	.col-sm-4:first-child
		label:after
		&:nth-child(2)
			@extend #cat
input#cat-3:checked ~
	.col-sm-4:first-child
		label:nth-child(3)
		&:after
			@extend #cat
input#cat-4:checked ~
	.col-sm-4:first-child
		label:nth-child(4)
		&:after
			@extend #cat
input#cat-5:checked ~
	.col-sm-4:nth-child(2)
		label:first-child
		&:after
			@extend #cat
input#cat-6:checked ~
	.col-sm-4:nth-child(2)
		label:nth-child(2)
		&:after
			@extend #cat
input#cat-7:checked ~
	.col-sm-4:nth-child(2)
		label:nth-child(3)
		&:after
			@extend #cat
input#cat-8:checked ~
	.col-sm-4:nth-child(2)
		label:nth-child(4)
		&:after
			@extend #cat
input#cat-9:checked ~
	.col-sm-4:nth-child(3)
		label:first-child
		&:after
			@extend #cat
input#cat-10:checked ~
	.col-sm-4:nth-child(3)
		label:nth-child(2)
		&:after
			@extend #cat
input#cat-11:checked ~
	.col-sm-4:nth-child(3)
		label:nth-child(3)
		&:after
			@extend #cat
input#cat-12:checked ~
	.col-sm-4:nth-child(3)
		label:nth-child(4)
		&:after
			@extend #cat
*/
