@media (min-width: 766px) and (max-width: 1200px)
  .navbar-nav
    > li
      a
        padding 0 20px
      &:first-child
        padding-left 0
  .siteinfo
    width 30%
    padding-top 12px
  footer span
    float left
    width 100%
    display block
    lh(20)
    text-align center
  .pagination > li > a
    width 8.48%
@media (min-width: 766px) and (max-width: 1080px)
  .navbar-header
    width 375px
  .navbar-nav
    > li
        a
          font-size 18px
          padding 0 16px
          lh(60)
        &:last-child
          a
            lh(60)
  header, .navbar, .navbar-header, .navbar-nav > li a
    height 60px
  .custom-form .customize.image .caret:not(.small)
    right 125px
@media (min-width: 766px) and (max-width: 990px)
  .navbar-header
    width 295px
    margin-left -5px !important
  .navbar-nav
    > li
        a
          font-size 15px
          padding 0 12px
          lh(60)
        &:last-child
          a
            font-size 17px
            padding 0 12px
            lh(60)

  .navbar-brand img
    width 110%
    margin-left -5%
  .graphic
    .two
      img
        width 100.5%
        margin-top -1px
@media (min-width: 990px) and (max-width: 1200px)
  .dashboard-menu .btn
    font-size 16px
  .dashboard-menu .blocks .dashboard-menu-mid .usage-chart
    margin-bottom 30px
  .dashboard-menu .blocks .dashboard-menu-mid .usage-total span
    display block
    width 100%
  .dashboard-menu .blocks .dashboard-menu-mid .col-md-4 p
    height auto !important
    padding-bottom 80px
  .dashboard-menu .blocks .dashboard-menu-btm .col-md-8 p
    font-size 14px
@media screen and (max-width: 1200px)
  .quicksend-form .qs-message .col-md-12 .col-md-8.form-2 .btn:first-child
    margin-left 0
  .custom-form .customize .selected
    max-height 165px
@media screen and (max-width: 990px)
  .blocks > div
    margin 0
    padding 0
    p
      padding-top 20px
    &:last-child
      margin-bottom -5px
  .blocks
    h2
      font-size 22px
  footer
    .siteinfo
      display none
    .footer-logo
      border 0
    .social-icons li:first-of-type
      border-right 0
  .intro
    h1
      font-size 24px
    p
      font-size 17px
      font-weight 300
  .dashboard-menu .blocks .dashboard-menu-mid .sent-data
    top 102px
  .dashboard-menu .blocks .dashboard-menu-btm .col-md-8 p
    height auto !important
  .dashboard-menu .blocks .dashboard-menu-btm .btn
    margin 20px 0
    height 75px
    padding 24px
  .dashboard-menu .blocks .dashboard-menu-btm .col-md-8 p span
    width 100%
    display block
    span
      width auto
      display inline
  .svgbg
    top 70px
  .custom-form .customize .selected
    max-height 170px

  .custom-form .qs-sendto .btn, .custom-form .qs-message .btn, .custom-form .customize .btn
    width 100%
  .custom-form .col-md-9
    padding-left 15px
  .custom-form .customize .col-md-12 .col-md-6
    width 75%
    margin 0 0 0 -1.5%
    float left
  .custom-form .customize .selected
    width auto
    margin 0
  .custom-form .customize .col-md-12 .col-md-3:not(:first-child)
    width 26.5%
    float left
  .custom-form .customize .bottom
    margin-bottom 15px
    .btn:last-child
      width 100%
      margin 0
  .custom-form .customize.image .form-2 .col-md-3 .btn
    &:not(:first-child)
      width 100% !important
      margin-left 0
      margin-right 0
  .custom-form .customize.image .form-2 .col-md-3 .btn:nth-child(4)
    margin-top 2px
  .custom-form .customize.image .form-2 .col-md-3:nth-child(2) .btn:first-child
    width 140%
    margin 0 0 22px -40%
  .custom-form .customize.quote .col-md-9
    padding 0
    .p-right
      width 8.4%
  .custom-form .customize.image .caret:not(.small)
    right 120px
  .row.qs-message .msg
    display none
  .custom-form .customize.image .btn:nth-child(2), .custom-form .customize.quote .btn:nth-child(2)
    margin-bottom 18px
  .quicksend-form
    .qs-message
      .selectpicker.small
        width 74px
        font-size 22px
  .custom-form .customize.color .col-md-12 .col-md-6 .btn
    width 48%
    margin-right 2%

@media screen and (max-width: 766px)
  .navbar-header
    width 100%
    margin 0 !important
  .navbar-brand
    width 425px
    margin-top 10px
    img
      width 110%
  .navbar-nav
    margin 0
    & > li
      border 0
      text-align center
      background blue2
      a:hover
        color wh !important
  .social-icons img
    width 66px
    height 66px
  .footer-logo, .footer-logo img
    padding-right 0
    padding-left 10px
    height 66px
@media screen and (max-width: 666px)
  .quicksend-form
    .qs-message
      .selectpicker.small
        width 13.5%
        font-size 20px
      input.small
        width 16%
        font-size 20px
      .col-md-12 .col-md-8
        &.form-1
          width auto
        &.form-2
          width 100%
          .btn
            width 100%
            padding 24px
            height 75px
            font-size 24px
            &:last-child
              margin-left 0
    .selectpicker
      padding 0
  .custom-form .customize.color .bottom a.right
    overflow hidden
  .pagination > li > a
    font-size 20px
  .search-i
    right 3px
  .custom-form .customize.quote .col-md-9 .p-right
    width 8.9%
  .custom-form .customize.image .btn.selectpicker
    font-size 22px
  .custom-form .customize.image .caret:not(.small)
    right 92px
    &:after
      right 37px
  .row .qs-message.send .form-0
    position absolute
    width 100%
  .row .qs-message.send .form-1
    width 100%
    margin-right 0
    marign-left -15px
  .custom-form .customize.quote .col-md-9 a.p-right
    width 9%
  .quicksend-form .qs-message .col-md-12 .col-md-8.form-1
    width 100%
  .quicksend-form .qs-message .form-2 .btn
    width 100% !important
    padding 24px !important
    height 75px !important
    font-size 24px !important
@media screen and (max-width: 550px)
  #content
    margin-top 0
  .navbar-brand
    width 375px
  .mobile-signin
    display block
  .social-icons img
    width 64px
    height 64px
  .footer-logo, .footer-logo img
    padding-right 0
    padding-left 2px
    height 64px
  .container, .container.one
    padding 0
  .graphic
    background bg3
    max-height 349px
    & > div
      width 100%
      margin -1px
      &.two
        width 100%
        margin -1px
  .blocks
    h2
      font-size 26px
    p
      font-size 21px
  .container.one
    margin-bottom 0
    &:after
      background blue2
  .container.two
    padding 0
  .intro
    h1
      padding 50px 0 0
      font-size 28px
      lh(34)
    p
      font-size 19px
      font-weight 500
      padding 10px 20px
      lh(25)
  .navbar-nav > li a
    font-size 24px
    &:last-child
      font-size 24px
  .rlbreak
    display block
    line-height 32px
  #box-model .login-box
    top 135px
  .dashboard-menu .blocks .dashboard-menu-btm .btn
    margin-bottom 30px
  .dashboard-menu .btn, .quicksend-form .btn:not(select)
    font-size 22px
    padding 16px
    &:last-child
      margin-bottom 15px
  .dashboard-menu .blocks .dashboard-menu-mid .col-md-6:last-child p
    padding-top 0
    margin-top -24px
  .custom-form .customize.quote .col-md-9 a.p-right
    width 9.38%
@media screen and (max-width: 479px)
  body
    min-width 460px
  .navbar-brand img
    width 100%
  .social-icons img
    width 50px
    height 50px
  .footer-logo, .footer-logo img
    padding-right 0
    padding-left 10px
    height 50px
  .custom-form .customize.quote .col-md-9 a.p-right
    width 9.8%
