<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/sites\" negate="true" ignoreCase="true" />
            <add input="{REQUEST_URI}" pattern="^/portfolio\" negate="true" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
        <rule name="Redirect_Root_URL" stopProcessing="true">
            <match url="(.*)portfolio(.*)" ignoreCase="true" />
            <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>