@media (max-width: 927px)
  .tile
    width 450px
    height 450px
    background-size 450px
  @keyframes sprite3
    100%
      background-position 0 -1350px
  @keyframes sprite4
    100%
      background-position 0 -1800px
  @keyframes sprite6
    100%
      background-position 0 -2700px