

/*////////////////////////////// INTERNET EXPLORER LESS THAN 9 */
/*////////////////////////////// OPACITY FIX */

.circle-sm-glow {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/circle-sm-glow.png,sizingMethod='crop');
}

.circle-sm-glow-pulse {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/circle-sm-glow-pulse.png,sizingMethod='crop');
}

#objectgrid .grid.two.b{
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/2b.png,sizingMethod='crop');
}

#objectgrid .grid.three.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/3b.png,sizingMethod='crop');
}

#objectgrid .grid.three.c{
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/3c.png,sizingMethod='crop');
}

#objectgrid .grid.four.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/4b.png,sizingMethod='crop');
}

#objectgrid .grid.five.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/5b.png,sizingMethod='crop');
}

#objectgrid .grid.six.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/6b.png,sizingMethod='crop');
}


#objectgrid .grid.six.c {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/6c.png,sizingMethod='crop');
}

#objectgrid .grid.four.c {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/4c.png,sizingMethod='crop');
}

#datagrid .grid.thirteen.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/13b.png,sizingMethod='crop');
}

#datagrid .grid.fifteen.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/15b.png,sizingMethod='crop');
}

#pulsegrid .grid.seven.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/7b.png,sizingMethod='crop');
}

#pulsegrid .grid.eight.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/8b.png,sizingMethod='crop');
}

#pulsegrid .grid.nine.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/9b.png,sizingMethod='crop');
}

#pulsegrid .grid.ten.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/10b.png,sizingMethod='crop');
}

#pulsegrid .grid.ten.c {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/10c.png,sizingMethod='crop');
}

#pulsegrid .grid.eleven.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/11b.png,sizingMethod='crop');
}

#pulsegrid .grid.twelve.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/12b.png,sizingMethod='crop');
}

#pulsegrid .grid.twelve.c {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/12c.png,sizingMethod='crop');
}


#sourcepulse .grid.one.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/glow.png,sizingMethod='crop');
    filter: alpha(opacity = 0);
}

#sourcepulse .grid.two.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/glow.png,sizingMethod='crop');
filter: alpha(opacity = 0);
}

#sourcepulse .grid.two.c {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/glow.png,sizingMethod='crop');
filter: alpha(opacity = 0);
}

#sourcepulse .grid.three.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/glow.png,sizingMethod='crop');
filter: alpha(opacity = 0);
}


#hydro {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydrograph.png,sizingMethod='crop');
}

#hydro.plants {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydrograph-plants.png,sizingMethod='crop');
}

#hydro.units {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/unitsbg.png,sizingMethod='crop');
}

#hydrodata.unit .grid.three {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydrounit.png,sizingMethod='crop');
}

#hydrodata .grid.one.c {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/1c.png,sizingMethod='crop');
}

#hydrodata .grid.two.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/2b.png,sizingMethod='crop');
}

#hydrodata .grid.two.c {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/2c.png,sizingMethod='crop');
}

#hydrodata .grid.three.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/wave.png,sizingMethod='crop');
}

#hydrodata .grid.three.c {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/3c.png,sizingMethod='crop');
}

#hydrodata .grid.three.d {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/3d.png,sizingMethod='crop');
}

#hydrodata .grid.three.e {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/3e.png,sizingMethod='crop');
}

#hydrodata .grid.six.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/6b.png,sizingMethod='crop');
}

#solar {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/solargraph.png,sizingMethod='crop');
}

#solar.plants {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/solargraph-plants.png,sizingMethod='crop');
}

#solar.units {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/unitsbg.png,sizingMethod='crop');
}

#solardata.unit .grid.three {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/solarunit.png,sizingMethod='crop');
}

#solardata .grid.two.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/solar/2b.png,sizingMethod='crop');
}

#solardata .grid.two.c {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/2c.png,sizingMethod='crop');
}

#solardata .grid.three.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/wave.png,sizingMethod='crop');
}

#solardata .grid.three.c {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/3c.png,sizingMethod='crop');
}

#solardata .grid.three.d {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/3d.png,sizingMethod='crop');
}

#solardata .grid.three.e {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/3e.png,sizingMethod='crop');
}

#solardata .grid.six.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/6b.png,sizingMethod='crop');
}

#landfill {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/landfillgraph.png,sizingMethod='crop');
}

#landfill.plants {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/landfillgraph-plants.png,sizingMethod='crop');
}

#landfill.units {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/unitsbg.png,sizingMethod='crop');
}

#landfilldata.unit .grid.three {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/landfillunit.png,sizingMethod='crop');
}

#landfilldata .grid.one.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/landfill/1b.png,sizingMethod='crop');
}

#landfilldata .grid.one.c {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/landfill/1c.png,sizingMethod='crop');
}

#landfilldata .grid.two.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/2b.png,sizingMethod='crop');
}

#landfilldata .grid.two.c {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/2c.png,sizingMethod='crop');
}

#landfilldata .grid.three.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/wave.png,sizingMethod='crop');
}

#landfilldata .grid.three.c {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/3c.png,sizingMethod='crop');
}

#landfilldata .grid.three.d {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/3d.png,sizingMethod='crop');
}

#landfilldata .grid.three.e {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/3e.png,sizingMethod='crop');
}

#landfilldata .grid.six.b {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/hydro/6b.png,sizingMethod='crop');
}




.unitpulse {
background: transparent;
    filter:
    progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/glow.png,sizingMethod='crop');
}


/*///*/
 

#status .icon img {
display: none;
}

#logo img {
border-style:none;
}


a, img, a img {
border: 0;
border-style:none;
border:none;
outline: none;
}

.srt-menu .label {
width: 130px;
}

#totalbox .total-input {
width: 100px;
font-size: 17px;
}

#totalbox .label {
width: 310px;
font-size: 17px;
}

#totalbox {
padding: 15px;
}

#banner {
background: #edecec !important;
}

.poplink {
padding: 0 3px 10px;
}

.srt-menu li a {
height: 48px;
}

.srt-menu li.current a {
height: 49px;

}

