/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
background: #CECECE;
min-width: 960px;
}

#wrapper {
overflow: hidden;
}

#main {
max-width: 960px;
margin: 0 auto;
}

#header {
width: 100%;
height: 180px;
margin-top: 25px;
margin-bottom: 6px;
background: url(../img/header.png);
}

#logo {
width: 100px;
height: 122px;
margin-left: 15px;
background: url(../img/logo.png);
float: left;
}

#logo2 {
width: 100px;
height: 122px;
background: url(../img/logo2.png);
position: absolute;
}

#logo3 {
width: 100px;
height: 122px;
background: url(../img/logo3.png);
position: absolute;
}

#glow {
width: 100px;
height: 122px;
background: url(../img/logo-glow.png);
position: absolute;
opacity: 0;
}

#title {
font-family: 'Signika', sans-serif;
font-size: 31px;
font-weight: 600;
color: #fff;
float: left;
letter-spacing: 1px;
text-shadow: 0px 1px 6px rgba(34, 56, 102, 0.3);
line-height: 38px;
margin-top: 25px;
}

#subtitle {
font-family: 'Signika', sans-serif;
font-size: 31px;
font-weight: 600;
color: #344C6A;
letter-spacing: 1px;
text-shadow: 0px 1px 6px rgba(34, 56, 102, 0.2);
line-height: 35px;
display: block;
width: 500px;
margin: 0 auto;
text-align: center;
position: relative;
bottom: -30px;
}

#town {
font-family: 'Signika', sans-serif;
font-size: 36px;
font-weight: 600;
color: #1D3350;
float: right;
letter-spacing: 1px;
text-shadow: 0px 1px 6px rgba(34, 56, 102, 0.15);
line-height: 38px;
margin: 63px -30px 0 0;
}

#burger {
width: 35px;
height: 35px;
float: right;
background: url(../img/burger.png);
margin: 5px 15px 0 0;
}

#widget {
width: 480px;
height: 276px;

float: left;
}

#boxwrap {
position: relative;
width: 100%;
float: left;
}


.one{background: url(../img/widget1.png);}
.two{background: url(../img/widget2.png);}
.three{background: url(../img/widget3.png);}
.four{background: url(../img/widget4.png);}

.handle {
width: 55px;
height: 55px;
cursor: -webkit-grabbing;
margin: 10px;
z-index: 2;
}

.input, .input2, .input3 {
font-family: 'Signika', sans-serif;
font-size: 52px;
font-weight: 600;
color: #fff;
letter-spacing: 1px;
}

#widget.two .input {
width: 150px;
height: 80px;
margin: 185px 0 0 320px;
}

#widget.three .input2 {
width: 150px;
height: 80px;
margin: 90px 0 0 316px;
}

#widget.four .input3 {
width: 150px;
height: 80px;
margin: 81px 0 0 320px;
}

#widget > h1 {
font-family: 'Signika', sans-serif;
font-size: 28px;
font-weight: 600;
color: #1D3350;
text-shadow: 0px 1px 6px rgba(34, 56, 102, 0.1);
margin: 0;
padding: 14px 0 2px 25px;
margin-bottom: -6px;
}

#widget > p {
font-family: 'Signika', sans-serif;
font-size: 17px;
font-weight: 500;
color: #344C6A;
padding: 0 25px 0 26px;
margin: 0;
}

#time > p {
float: right;
color: #344C6A;
font-family: 'Signika', sans-serif;
font-size: 21px;
font-weight: 600;
margin: 0 44px 0 0;
padding: 14px 0 2px 25px;
}

#noveda {
width: 115px;
height: 42px;
float: right;
background: url(../img/noveda.png);
margin: 7px 4px 0 0;
}

#weather {
font-family: 'Signika', sans-serif;
font-size: 15px;
font-weight: 500;
color: #344C6A;
letter-spacing: 1px;
text-shadow: 0px 1px 6px rgba(34, 56, 102, 0.15);
float: right;
margin-right: 6px;
line-height: 12px;
cursor: pointer;
}

#weather span {
color: #F37C2D;
text-shadow: 0px 1px 6px rgba(102, 72, 34, 0.15);
font-weight: 600;
}

#footer {
background: url(../img/footer.png);
width: 100%;
height: 55px;
margin-top: 6px;
float: left;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width : 600px) {
#wrapper {float:none;}
}


@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}