html
  overflow-y:scroll
body
  margin 0
  background lightcyan
a
  text-decoration none
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
#tile-grid
  width 80%
  max-width 1200px
  min-width 550px
  margin 0 auto
  padding 2% 0
  background lightcyan
  color lightcyan
  font-size 2em
  display flex
  justify-content center
  flex-flow row wrap
  
//nav transition
.fade-enter-active
    transition-property opacity
    transition-duration .25s
.fade-leave-active
    transition-property opacity
    transition-duration .35s
.fade-enter-active
    transition-delay .45s
.fade-enter, .fade-leave-active
    opacity 0  

//dev
h1
  margin 2.25em



